.team
  &-title
    color: $primary-dark-gray
    margin-bottom: 25px

  .profile
    padding: 15px 0
    border-bottom: 3px dotted $primary-light-gray
    margin-bottom: 40px
    &-description
      display: flex
      flex-direction: column
      justify-content: center
    &-name
      margin-bottom: 0
    &-title
      font-style: italic
    &-photo
      margin: 20px
      width: 50%
      border-radius: 50%
      @media screen and (min-width: $tablet)
        width: 30%
      @media screen and (min-width: $desktop)
        width: 85%
