@import "~bootstrap/scss/bootstrap"

@mixin font($font-family, $font-file)
  @font-face
    font-family: $font-family
    src: url($font-file+'.otf')
    font-weight: normal
    font-style: normal

@include font('OCRAStd', 'fonts/OCRAStd')
@import url(https://fonts.googleapis.com/css?family=Oswald)
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono)

@import "components/fonts"
@import "components/variables"


body
  color: $primary-font-color
  font-family: 'Roboto Mono', monospace

h1, h2, h3, h4, h5, h6
  font-family: 'OCRAStd', Helvetica, sans-serif

a
  color: $primary-dark-gray
  &:hover
    color: $primary-yellow

p
  text-align: justify

.text-yellow
  color: $primary-yellow

.text-red
  color: $primary-red

.text-gray
  color: $primary-dark-gray

.text-light-gray
  color: $primary-light-gray

#main
  min-height: 80vh
  & > .container
    padding-top: 4vh
    padding-bottom: 10vh

.page-title
  color: $primary-yellow
  margin-bottom: 25px

.left-menu
  display: none
  @media (min-width: $desktop)
    display: block

@import "components/navbar"
@import "components/footer"
@import "components/header"
@import "components/markdown"
@import "components/card"
@import "components/home"
@import "components/team"
@import "components/_hostsites"
@import "components/_programs"
@import "components/_pathway"
@import "components/_timeline"
@import "components/_challenges"
@import "components/_mission"
@import "components/_partners"
