@import "~bootstrap/scss/bootstrap"

@import url(http://fonts.googleapis.com/css?family=Oswald)
@import url(http://fonts.googleapis.com/css?family=Roboto+Mono)

@import "components/fonts"
@import "components/variables"


body
  color: $primary-font-color
  font-family: 'Roboto Mono', monospace

h1, h2, h3, h4, h5
  font-family: 'OCRAStd', Helvetica, sans-serif

#main
  padding-top: 4vh
  min-height: 80vh

@import "components/navbar"
@import "components/footer"

.page-title
  margin-bottom: 25px
