@import "~bootstrap/scss/bootstrap"

@import url(https://fonts.googleapis.com/css?family=Oswald)
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono)

@import "components/fonts"
@import "components/variables"


body
  color: $primary-font-color
  font-family: 'Roboto Mono', monospace

h1, h2, h3, h4, h5, h6
  font-family: 'OCRAStd', Helvetica, sans-serif

a
  color: $primary-dark-gray
  &:hover
    color: $primary-yellow

.text-yellow
  color: $primary-yellow

.text-red
  color: $primary-red

.text-gray
  color: $primary-dark-gray

#main
  min-height: 80vh
  & > .container
    padding-top: 4vh

@import "components/navbar"
@import "components/footer"
@import "components/header"
@import "components/markdown"
@import "components/home"

.page-title
  margin-bottom: 25px

.left-menu
  display: none
  @media (min-width: $desktop)
    display: block
